/* Common styles */
.inputSection,
.selection-section,
.input-style {
  height: 2.5rem;
  border-radius: 0.375rem;
  border: 1px solid #e5e7eb;
  background-color: #f3f4f6;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  outline: none;
}

.relative {
  position: relative;
  padding-top: 16px;
}

.flex-item {
  display: flex;
  flex-direction: column;
}

.search-button {
  background-color: #2563eb;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
}

.input-style:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 2px #2563eb;
}

.svg-section {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  fill: currentColor;
  color: #718096;
  pointer-events: none;
}

.selection-section:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 2px #2563eb;
}

.label,
.heading-card {
  font-size: 0.875rem;
  font-weight: 500;
}

.selection-sub-card {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.selection-card {
  margin-bottom: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 12px;
}

.create-button {
  background-color: #2563eb;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
}

.card-top {
  margin-bottom: 1.5rem;
  background-color: #ded8d7;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading-header {
  font-size: 1.5rem;
  font-weight: 600;
}

.inputSection:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 2px #2563eb;
}

.header-section {
  background-color: white;
  padding: 40px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  /* Adjust styles for small devices */
  .selection-card {
    grid-template-columns: 1fr; /* Change to single column layout */
  }
  
  .relative {
    padding-top: 0; /* Remove padding */
  }
}
